<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Angular</title>

	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/black.css">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="lib/css/monokai.css">
	<!-- <link rel="stylesheet" href="lib/css/zenburn.css"> -->

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement('link');
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match(/print-pdf/gi) ? 'css/print/pdf.css' : 'css/print/paper.css';
		document.getElementsByTagName('head')[0].appendChild(link);
	</script>

	<style>
		h1 .bigger {
			font-size: 3.5em !important;
		}

		h2,
		h3,
		h4,
		h5,
		h6 {
			text-transform: unset !important;
		}

		.unset-transform {
			text-transform: unset !important;
		}

		.angular {
			color: #DD0031 !important;
		}

		.no-border-img {
			background: unset !important;
			border: unset !important;
			box-shadow: unset !important;
		}

		.slides {
			width: 80% !important;
		}

		.med-text {
			font-size: 60px;
		}

		.large-text {
			font-size: 100px;
		}

		.flex-icon-row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		.flex-icon {
			width: 180px;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			font-size: 30px;
			/* align-items: ; */
		}

		.flex-icon-img {}
	</style>
</head>

<body>
	<div class="reveal">
		<div class="slides">
			<section>
				<section>
					<img class="stretch no-border-img" data-src="media/angular.svg">
				</section>
				<section>
					<h1 class="bigger angular">Angular</h1>
					<h3>Jan Greger Hemb</h3>
					<h5>bit.ly</h5>
				</section>
				<section>
					<h1>What is <span class="angular">Angular</span>, and why use it?</h1>
				</section>
			</section>
			<section>
				<section>
					<h1><span class="angular">Angular</span> in a nutshell</h1>
					<ui>
						<li class="fragment"><span class="angular">Framework</span> for developing applications</li>
						<li class="fragment">All inclusive</li>
						<li class="fragment">Significantly speeds up development</li>
					</ui>
				</section>
			</section>
			<section>
				<!-- <h1>The birth of the SPA</h1> -->
				<h1>
					<span class="angular">S</span>ingle
					<span class="angular">P</span>age
					<span class="angular">A</span>pplication
				</h1>
				<h2>VS</h2>
				<h2>Server Side Rendering</h2>
				<h2 class="fragment">It's all just <span class="angular">index.html</span></h2>
			</section>

			<section>
				<h2>Features</h2>
				<div class="flex-icon-row fragment">
					<div class="flex-icon">
						<img class="stretch no-border-img" src="media/icons/templates.svg">
						Components
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/compiler.svg">
						Compiler
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/forms.svg">
						Forms
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/http.svg">
						Http
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/router.svg">
						Router
					</div>
				</div>
				<div class="flex-icon-row fragment">
					<div class="flex-icon">
						<img class="stretch no-border-img" src="media/icons/cli.svg">
						Cli
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/dependency-injection.svg">
						DI
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/lazy-loading.svg">
						Lazy-Loading
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/pwa.svg">
						PWA
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/components.svg">
						Components
					</div>
				</div>
				<!-- <h1>Angular</h1> -->
			</section>
			<section>
				<h2>More features</h2>
				<div class="flex-icon-row fragment">
					<div class="flex-icon">
						<img class="stretch no-border-img" src="media/icons/language-services.svg">
						Language-services
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/material.svg">
						Material
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/cdk.svg">
						CDK
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/animations.svg">
						animations
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/augury.svg">
						Augury
					</div>
				</div>
				<div class="flex-icon-row fragment">
					<div class="flex-icon">
						<img class="stretch no-border-img" src="media/icons/performance.svg">
						Performance
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/universal.svg">
						Universal
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/karma.svg">
						Karma
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/i18n.svg">
						i18n
					</div>
					<div class="flex-icon">
						<img class="stretch no-border-img flex-icon-img" src="media/icons/templates.svg">
						Components
					</div>
				</div>
			</section>
			<section>
				<h2>You don't have to <span class="angular">learn</span> it all</h2>
				<h3 class="fragment">Just some <span class="angular">core features</span></h3>
			</section>
			<section>
				<section>
					<h2 class="angular">Component</h2>
					<p class="fragment">Controls a part of the screen 🖥️</p>
					<p class="fragment">View, style and logic</p>
					<p class="fragment">HTML, CSS and TypeScript</p>
					<!-- <p class="fragment">Typescript is superset of Javascript</p> -->
					<p class="fragment">Re-usable ♻️</p>
				</section>
				<section>
					<pre><code class="TypeScript" data-trim contenteditable>
// TypeScript (home.component.ts)
@Component({
	selector: 'app-home', // use as <app-home></app-home>
	templateUrl: './home.component.html',
	styleUrls: ['./home.component.scss']
})
export class HomeComponent {
	name = 'Greger';
}							  
					</code></pre>

					<pre><code class="HTML" data-trim contenteditable>
<!-- HTML (home.component.html) -->
<h1 class="title">Welcome home {{name}} in red</h1>
					</code></pre>
					<pre><code class="SCSS" data-trim contenteditable>
// SCSS/CSS (home.component.scss)
.title {
	color: red;
}
					</code></pre>
				</section>
				<section>
					<h3>Life cycle hooks</h3>
					<pre><code class="TypeScript" data-trim contenteditable>
@Component({
	selector: 'app-home',
	templateUrl: './home.component.html',
	styleUrls: ['./home.component.scss']
})
export class HomeComponent implements OnInit, OnDestroy {
	
	constructor() { } // Should not use

	ngOnInit() { } // Right before start

	ngOnDestroy() { } // Right before destroyed
}							  
					</code></pre>
				</section>

				<section>
					<h2>Using component</h2>

					<pre><code class="TypeScript" data-trim contenteditable>
// TypeScript (home.component.ts)
@Component({
	selector: 'app-home', // use as <app-home></app-home>
	...
})
export class HomeComponent {
	name = 'Greger';
}							  
					</code></pre>

					<pre class="fragment"><code class="HTML" data-trim contenteditable>
<!-- HTML (parent component) -->
<main class="content">
	<app-home></app-home>
</main>
					</code></pre>
				</section>

				<!-- <section>
					<h2><span class="angular">Component</span> features</h2>
					<p class="fragment">3 files + test file</p>
					<p class="fragment">Lifecycle hooks</p>
					<p class="fragment">Dependeicy injection</p>
					<p class="fragment">Inputs and outputs</p>
				</section> -->

				<section>
					<h3>Inputs</h3>
					<pre class="fragment"><code class="HTML" data-trim contenteditable>
<!-- HTML (parent component) -->
<app-home [user]="'Greger'"></app-home>
					</code></pre>
					<pre class="fragment"><code class="TypeScript" data-trim contenteditable>
// TypeScript (home.component.ts)
@Component({
	selector: 'app-home',
	...
})
export class HomeComponent {
	@Input() user = ''; // Will become Greger
}							  
					</code></pre>
				</section>

				<section>
					<h3>Output</h3>
					<pre class=""><code class="HTML" data-trim contenteditable>
<!-- HTML (parent component) -->
<app-home (newUser)="setNewUser($event)"></app-home>
					</code></pre>
					<pre class="fragment"><code class="TypeScript" data-trim contenteditable>
// TypeScript (home.component.ts)
@Component({
	selector: 'app-home',
	...
})
export class HomeComponent {
	@Output() newUser = new EventEmitter();

	changeUser() {
		this.newUser.emit('Jan');
	}
}							  
					</code></pre>

				</section>

				<section>
					<h2>Data flows down, events go up</h2>
				</section>

				<section>
					<h2>ng-content</h2>
					<pre class="fragment"><code class="HTML" data-trim contenteditable>
<!-- HTML (parent component) -->

<app-home>Welcome</app-home>
					</code></pre>
					<pre class="fragment"><code class="HTML" data-trim contenteditable>
<!-- HTML (home.component.html) -->

<ng-content></ng-content> 
<!-- ng-content will be replaced by Welcome -->
					</code></pre>
				</section>
				<section>
					<h2>ng-content</h2>
					<h3>projectAs & select</h3>
					<pre><code class="HTML" data-trim contenteditable>
<!-- HTML (parent component) -->

<app-home>
	<ng-container projectAs="top">Hello</ng-container>
	<ng-container projectAs="bottom">Home</ng-container>
</app-home>
					</code></pre>
					<pre><code class="HTML" data-trim contenteditable>
<!-- HTML (home.component.html) -->

<ng-content select="top"></ng-content> 
<ng-content select="bottom"></ng-content> 
					</code></pre>
				</section>

				<section>
					<h2>Structural directives</h2>
					<pre class="fragment"><code class="HTML" data-trim contenteditable>
<!-- ngIf (loading = bool) -->
<div *ngIf="loading">Loading</div>
					</code></pre>
					<pre class="fragment"><code class="HTML" data-trim contenteditable>
<!-- ng-container (loading = bool) -->
<ng-container *ngIf="loading">Loading</ng-container>
					</code></pre>
					<pre class="fragment"><code class="HTML" data-trim contenteditable>
<!-- ngFor (users = Array)-->
<div *ngFor="let user of users">user{{user.name}}</div>
					</code></pre>

					<p class="fragment">*ngSwitch</p>
				</section>
				<!-- <section>
					DI? or after services
				</section> -->

			</section>

			<section>
				<section>
					<h1 class="angular">Servicers</h1>
					<h3 class="fragment">State, and talking to the backend</h3>
					<h3 class="fragment">Singleton with DI</h3>
				</section>
				<section>
					<pre class=""><code class="TypeScript" data-trim contenteditable>
// home.service.ts
@Injectable({
	providedIn: 'root'
})
export class HomeService {
	
	activeUser = 'Greger';
	
	constructor(private http: HttpClient) { }
	
	getActiveUser() {
		return this.http.get('backend.no');
	}
}
					</code></pre>
				</section>
				<section>
					<h2>Dependency injection (DI)</h2>
					<pre class="fragment"><code class="TypeScript" data-trim contenteditable>
// home.service.ts
@Injectable({  // <---- DI
	providedIn: 'root'
})
export class HomeService {
	activeUser = 'Greger';
	constructor() { }
}
					</code></pre>

					<pre class="fragment"><code class="TypeScript" data-trim contenteditable>
// home.component.ts
@Component({
	...
})
export class HomeComponent implements OnInit {
	constructor(private homeService: HomeService) { } // <---- DI
	ngOnInit() {
		console.log(this.homeService.activeUser);
	}
}							  
					</code></pre>
				</section>
				<!-- <section>
					Uses DI to decrease tight coopeling and make testing easer as DI service can be swapped for mock
				</section> -->

			</section>

			<section>

				<section>
					<h1 class="angular">Modules</h1>
					<!-- <h3>Collection of components, and other elements</h3> -->
					<h3 class="fragment">Grouping relevant elements together</h3>
					<h3 class="fragment">Create/declare components</h3>
					<pre class="fragment"><code class="TypeScript" data-trim contenteditable>
// home.module.ts
@NgModule({
	imports: [CommonModule, SomeOtherModule],
	declarations: [HomeComponent],
	exports: [HomeComponent]
})
export class HomeModule { }	
				</code></pre>
				</section>
				<section>
					<h2>Encapsulation of features</h2>
					<h2 class="fragment"><span class="angular">Feature</span> modules</h2>
				</section>
			</section>
			<section>
				<section>
					<h1 class="angular">Routing</h1>
					<h3 class="fragment">Eager loading vs Lazy loading</h3>

				</section>
				<section>
					<pre class=""><code class="TypeScript" data-trim contenteditable>
// Eager (default)
const routes: Routes = [{
	path: 'home', // localhost:4200/home
	component: HomeComponent,
}]; 
export const HomeRoutes = RouterModule.forChild(routes);
					</code></pre>
					<pre class="fragment"><code class="HTML" data-trim contenteditable>
<!-- HTML -->
<router-outlet></router-outlet>
					</code></pre>
					<pre class="fragment"><code class="TypeScript" data-trim contenteditable>
// Lazy
const routes: Routes = [{
	path: 'home', // localhost:4200/home
	loadChildren: () => import('./home.module').then(m => m.HomeModule)
}]; 
export const HomeRoutes = RouterModule.forChild(routes);
					</code></pre>

				</section>

			</section>

			<section>
				<section>
					<h2>Other <span class="angular">core</span> features</h2>
					<h3 class="fragment">Directives</h3>
					<h3 class="fragment">Pipes</h3>
					<h3 class="fragment">Interceptors</h3>
				</section>
				<!-- <section>
					<h2>Angular NPM Modules</h2>
					<ul>
						<li class="fragment">Core</li>
						<li class="fragment">Forms</li>
						<li class="fragment">Animations</li>
						<li class="fragment">Custom elements</li>
						<li class="fragment">Http</li>
						<li class="fragment">Language service</li>
						<li class="fragment">localization</li>
						<li class="fragment">Service worker</li>
					</ul>
				</section> -->
			</section>

			<section>
				<section>
					<h2><span class="angular">Angular</span> CLI</h2>
					<!-- <h3>The most powerful frontend CLI</h3> -->
					<p class="fragment">ng new MyApp</p>
					<p class="fragment">ng add MyAppLibrary</p>
					<p class="fragment">ng generate HomePage</p>
					<p class="fragment">ng serve</p>
					<p class="fragment">ng test</p>
					<!-- <p class="fragment">ng e2e</p> -->
					<p class="fragment">ng build</p>
					<p class="fragment">ng deploy</p>
				</section>
				<section>
					<h2><span class="angular">Angular</span> schematic</h2>
					<h3 class="fragment">
						Write your own <span class="angular">generate</span>
						and <span class="angular">add</span> commands!</h3>
					<h3 class="fragment">Create <span class="angular">install</span> script for your library</h3>
					<!-- <h3 class="fragment">Setup add your own libraries in one line</h3> -->
				</section>
			</section>

			<section>
				<section>
					<h2>The drawbacks of <span class="angular">Angular</span></h2>
					<p class="fragment">Best suited for enterprise-scale applications</p>
					<p class="fragment">angular.js != Angular</p>
					<p class="fragment">Largest bundle size</p>
					<p class="fragment">Hardest to learn</p>
					<p class="fragment">Boilerplate</p>
					<p class="fragment">Complex</p>
					<!-- <p class="fragment">Performence</p> -->
				</section>
			</section>
			<section>
				<section>
					<h2>The benefits of <span class="angular">Angular</span></h2>
					<p class="fragment">The most complete framework with the most features</p>
					<p class="fragment">Easy to onboard new angular developers</p>
					<p class="fragment">Material design, components and CDK</p>
					<p class="fragment">The most powerfull CLI</p>
					<p class="fragment">Dependency injection</p>
					<p class="fragment">TypeScript by default</p>
					<!-- <p class="fragment">Great tooling</p> -->
					<!-- <p class="fragment">All in one framework</p> -->
					<p class="fragment">Not just web</p>
					<p class="fragment">RxJS</p>
					<!-- <p class="fragment">Server Side rendering</p> -->
					<!-- <p class="fragment">Backed by Google</p> -->
				</section>
			</section>
			<section>
				<section>
					<h1>The future for <span class="angular">angular</span></h1>
					<h3 class="fragment">Angular 9 & <span class="angular">IVY</span></h3>
				</section>
			</section>
			<section>
				<img class="stretch no-border-img" data-src="media/angular.svg">
			</section>
			<section>
				<h1 class="unset-transform">QnA</h1>	
			</section>
		</div>
	</div>

	<script src="js/reveal.js"></script>

	<script>
		// More info about config & dependencies:
		// - https://github.com/hakimel/reveal.js#configuration
		// - https://github.com/hakimel/reveal.js#dependencies
		Reveal.initialize({
			history: true,
			dependencies: [
				{ src: 'plugin/markdown/marked.js' },
				{ src: 'plugin/markdown/markdown.js' },
				{ src: 'plugin/notes/notes.js', async: true },
				{ src: 'plugin/highlight/highlight.js', async: true }
			]
		});
	</script>
</body>

</html>